
      *{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhai 2', cursive;
}

.set img{
    max-height:600px;
    object-fit: cover;
    object-position: top;
    background-size: cover;
    image-resolution: 600dpi;
    }
    .nav{
        display: flex;
        justify-content: center;
        position: absolute;
        top:20px;
    }

    .nav ul li{
        float: left;
        list-style: none;

        
        }

     .nav a {
         padding: 10px;
         font-size: 25px;
         color: blueviolet;
         text-shadow: 10px 10px 10px white;
     }  

     @media (max-width:576px)
     {
         .nav a{
             font-size: 10px;
         }
     }


     .text_1{
         position: absolute;
         left: 50%;
         top: 40%;
         transform: translate(-50%,-50%);
         color:#e74c3c;
         text-shadow: 10px 10px 10px rgb(0, 0, 0);
         }

         @media (min-width:500px){
            .text_1 p{
                font-size: 60px;
            }
            }
         

        @media (max-width:480px)
        {
            .text_1{
                
                position: absolute;
                left: 50%;
                top: 20%;
                transform: translate(-50%,-50%);
                font-size: 20px;
            }
            .text_1 button{
                font-size: 10px;
            }

        
        }
        
        @media (min-width:768px) and (max-width:1600px)
        {
            .text_1{
                position: absolute;
                left:50%;
                top:250px;
            }
        }

     .sec_2{
         padding-top: 20px;
     }
     .sec_2_1{
         font-size: 30px;
     }

     .sec_4{
         padding-top: 50px;
     }

     .sec_4_1{
         padding-top: 30px;
        }
    
     .sec_5{
         padding-top: 50px;
     }   
     .sec_5 img{
         max-height: 400px;
         width: 100%;
         object-fit: cover;
         object-position: center;
         } 
         
     .sec_6{
         display: block;
         position: absolute;
         top: 1500px;
         color: white;
         
     }    
    @media (min-width:800px)
    {
        .sec_6_1{
            font-size: 30px;    
    }
    
    }
    
    @media (max-width:480px)
    {
        .sec_6{
            position: absolute;
            top:1950px;
            font-size: 10px;
        }
        .sec_6 button{
            font-size: 10px;
        }
    }

    @media (max-width:480px)
    {
        .sec_5 img{
            height: 200px;
        }
        .sec_6_1{
            font-size: 15px;
        }
        .sec_6_2{
            font-size: 12px;
        }
        .sec_6_3{
            font-size: 5px;
        }

    }

    .sec_7{
        padding:20px;
    }

    .sec_7_1{
        font-size: 30px;
    }

    .sec_8 img{
        height: auto;

    }
    .sec_8_1 img{
        padding: 10px;
        

    }

   .sec_8_2 img{
       height: 700px;
       padding-top: 15px;
       object-fit: cover;

   } 
   
   @media (max-width:450px) and (max-width:800px)
   {
       .sec_8_2{
           display: flex;
           justify-content: center;
       }
   }

   .sec_9 img{
       width:100%;
       max-height: 500px;
       object-fit: cover;
       object-position: top;
       padding-top: 10px;
    }

    .sec_10{
        background-color: black;
        color: white;
        height: 300px;
        
    }

    @media(max-width:450px) {
      .sec_10{
        height:auto ;
        padding: 10px;
      }
      
    }
  